.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
        padding-right: 0 !important;
    padding-left: 0 !important;
}
img {
	max-width: 100%;
}
.navbar-light .navbar-nav .nav-link {
    color: #eee;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #f8f9fa;
}
.navbar-light .navbar-brand {
    color: #f8f9fa;
}
.hea{
    margin: 0 auto;
    padding-top: 76px;
}
.collaborate_box{
   padding: 10;
}
.bg-light {
    background-color: #f8f9fa0a!important;
}
.bg-light {
    background-color: #3535d8!important;
}
.navbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    position: absolute;
    top: 35px;
    left: 421px;
}
.navbar-brand {
    display: inline-block;
    padding-top: 1.3125rem;
    padding-bottom: .3125rem;
    margin-right: 33rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
#div1{
	width:100%;
  height:640px;
  position: relative;

}
.center {
  width: 100%;
  text-align: center;
    color: white;
  overflow: hidden;
  background: #777373;  /* fallback for old browsers */
  background: linear-gradient(rgba(134, 130, 134, 0.8), rgba(133, 128, 128, 0.616)), url("back.webp");  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(rgba(138, 129, 138, 0.8), rgba(19, 18, 18, 0.63)), url("back.webp"); background-size: cover;
  background-repeat: no-repeat;

}
.div2{
  position: absolute;
  margin-right: 0px;
}
a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
  }
.ts {
    color: white;
    font-size: 20px;
}
.next {
    width: 437px;
    position: absolute;
    height: 279px;
    background-color: transparent;
    color: black;
    top: -493px;
    left: 0px;

}
.style {
    font-size: 45px;
    font-style: italic;
    color: #ffffff;
}

.style1 {
    font-style: bold;
    font-size: 40px;
    font-family: revert;
    color: #ffffff;
    font-weight: bold;
}
.style2 {
    font-size: 16px;
    color: #ffffff;
}
.button {
    font-size: 15px;
    background-color: #2d2de0;
    padding: 15px;
     border: none;
    color: white;
}
.button1 {
    font-size: 20px;
    background-color: transparent;
    padding: 7px;
    color: #ffffff;
    margin-left: 11px;
    border: none;
}
.mainbox {
    /* width: 80%; */
    /* height: 50%; */
    background-color: none;
    /* position: relative; */
    /* top: -87px; */
    /* left: 240px; */
    margin-top: -140px;
    margin-bottom: 85px;
}

.box {
    height: 280px;
    background-color: white;
    color: black;
    padding-left: 30px;
    padding-right: 20px;
    box-shadow: 5px 16px 18px #888888;
}
.result{
  width: 281px;
  height: 180px;
  background-color: blue;
  position: relative;
  display: inline-block;
  margin-left: 22px;
  color: black;
  padding-left: 30px;
    top: -47px;
    padding-right: 20px;
  box-shadow: 5px 16px 18px #888888;
}

.pad{
  position: absolute;
  top:-120px;
}
.icons{
    width: 15%;
    height: 20%;
}
.style-top-box-images{
    position: relative;
    float: center;
    left: 0px;
    top: 40px;
    margin-bottom: 60px;
}
.style3 {
    font-family: inherit;
    font-size: large;
}
.style4{
  color: grey;
}
.style33 {
    padding-top: 40px;
    font-family: inherit;
    font-size: large;
}
.style44{
  color: grey;
}
.slide1 {
    position: relative;
    left: 21px;
}
.style5 {
    position: relative;
    font-size: 35px;
    font-family: inherit;
    padding: 20px;
}
.style6 {
    color: #262de5;
    font-size: 20px;
    margin-left: 29px;
}
.style7 {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 105px;
    color: grey;
}
.padd {
    margin-top: 40px;
    width: 108%;
    height: 165px;
    background-color: #efeaea1a;
    margin-left: 0px;
    padding-left: 0px;
}
.style8 {
    font-size: 60px;
    color: #6d71e0;
    margin-top: 37px;
    margin-left: 170px;
    font-family: sans-serif;
    font-style: bold;
}
.style9 {
    color: grey;
    font-size: large;
    margin-top: 16px;
    margin-left: 170px;
}
.style10 {
    color: grey;
    font-size: large;
    margin-top: 16px;
    margin-left: 160px;
}
.style11 {
    color: grey;
    font-size: large;
    margin-top: 16px;
    margin-left: 160px;
}
.style12 {
    text-align: center;
    padding: 0px;
}
.style13 {
    font-size: 37px;
    font-family: revert;
    margin-bottom: 71px;
    margin-top: 40px;
}
.style14 {
    font-size: 25px;
    text-align: initial;
    padding: 20px;
    font-family: revert;
    font-weight: bold;
}
.style15 {
    font-size: 15px;
    text-align: initial;
    margin-left: 20px;
    color: grey;
}
.style16{
    font-size: 37px;
    font-family: sans-serif;
    margin-bottom: 71px;
    margin-top: 40px;
}
.style17{
  text-align: center;
  background-color: #fdfdfd;
}
.style19{
  text-align: center;
  margin-top: 50px;
}
.style20{
    font-size: 37px;
    font-family: sans-serif;
    margin-bottom: 19px;
}
.style21 {
    padding-left: 153px;
    margin-top: 50px;
    height: 400px;
    background-color: #f9f9f9;
    display: flex;
    text-align: center;
    align-items: center;
    height: 310px;
    padding-top: 0px;
}
.style22{
  margin-top: 0px;
}
.minibox {
    width: 75%;
    height: 106px;
    background-color: #f8f9fa;
    position: absolute;
    top: 226px;
    left: 31px;
    color: black;
}
.servicebox {
    width: 340px;
    height: 332px;
    color: black;
    padding-left: 30px;
    padding-right: 20px;
}
.paddd{
  padding: 0px;
}
.blown{
  padding: 20px;
}
.pd{
  padding: 0px;
}

 @media (min-width: 1024px) and (max-width: 2560px){

    .navbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    position: absolute;
    top: 0px;
    left: 175px;
}
.bg-light {
    background-color: #ffffff00!important;
}
 }
 @media (min-width: 769px) and (max-width: 1023px){
    .style12 {
    text-align: center;
    padding: 0px;
    margin-top: 490px;
}.minibox {
    width: 40%;
    height: 106px;
    background-color: #f8f9fa;
    position: absolute;
    top: 226px;
    left: 212px;
    color: black;
}
.style8 {
    font-size: 60px;
    /* float: unset; */
    color: #6d71e0;
    margin-top: 37px;
    font-family: sans-serif;
    font-style: bold;
}
.style9 {
    color: grey;
    font-size: large;
    margin-top: 16px;
}

.servicebox {
    width: 340px;
    height: 332px;
    color: black;
    margin: auto;
    padding-right: 20px;
}
.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 4.25rem;
}
.navbar-collapse.collapse {
    display: none!important; 
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}
.navbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    position: absolute;
    top: 2px;
    left: 0px;
    width: 100%;
}
.padd {
    margin-top: 40px;
    width: 100%;
    height: 162px;
    background-color: #efeaea1a;
    align-items: center;
    text-align: center;
    margin-right: 140px;
}
 }

@media (max-width: 768px){

.style-top-box-images {
    position: relative;
    float: center;
    left: 250px;
    top: 40px;
    margin-bottom: 60px;
  }

.style8 {
    font-size: 60px;
    color: #6d71e0;
    margin-top: 37px;
    font-family: sans-serif;
    font-style: bold;
}
.style9 {
    color: grey;
    font-size: large;
    margin-top: 16px;
}
  .navbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;

}.bg-light {
    background-color: #3b5de0!important;
}

.navbar-collapse.collapse {
    display: none!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
}
.style5 {
    position: relative;
    margin-top: 24px;
    font-size: 35px;
    font-family: inherit;
    padding: 20px;
  }
  .style13 {
    font-size: 37px;
    font-family: revert;
    margin-bottom: 71px;
    margin-top: 389px;
}
.padd {
    margin-top: 40px;
    width: 100%;
    height: 162px;
    background-color: #efeaea1a;
    align-items: center;
    text-align: center;
    margin-right: 140px;
}
.minibox {
    width: 322px;
    height: 106px;
    background-color: #f8f9fa;
    position: absolute;
    top: 226px;
    left: 213px;
    color: black;
}
.servicebox {
    width: 340px;
    height: 332px;
    color: black;
    margin: auto;
  }

  .style21 {
    margin-top: 50px;
    height: 400px;
    background-color: #f9f9f9;
    display: flex;
    text-align: center;
    align-items: center;
    height: 310px;
    padding-top: 139px;
  }

}
 @media   (max-width: 767px) {
.boot{width:120px;}
  .nav>li {
    position: relative;
    display: block;
    padding: 0px 10px;
    margin-top: 8px;
    background: #ffffff0a;
    border-bottom: 1px solid #722a2a;
}
.nav>li>{
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #476280;
    background-color: transparent;
    font-family: Intervogue Soft Thin;
    font-size: 15px;

}
.minibox {
    width: 75%;
    height: 106px;
    background-color: #f8f9fa;
    position: absolute;
    top: 80px;
    left: px;
    color: black;
}

 }
 @media  (max-width: 750px) {
    .boot{width:120px;}

    .style-top-box-images {
    position: relative;
    float: center;
    left: 89px;
    top: 40px;
    margin-bottom: 60px;
  }

  .next {
    width: 356px;
    position: absolute;
    height: 279px;
    background-color: transparent;
    color: black;
    top: -531px;
    left: 0px;
}
.ts {
    position: absolute;
    top: 14px;
    margin-left: 0px;
    color: white;
    font-size: 20px;
}
.style5 {
    position: relative;
    margin-top: 18px;
    font-size: 35px;
    font-family: inherit;
    padding: 20px;
}
.style6 {
    color: #262de5;
    font-size: 20px;
    margin-left: 29px;
}
.ysb{
    font-size: 27px;
    font-family: sans-serif;
    margin-left: 20px;
}
.padd {
    margin-top: 40px;
    width: 130%;
    height: 162px;
    background-color: #efeaea1a;
    margin-left: -149px;
}
.style12 {
    text-align: center;
    padding: 0px;
}
.style13 {
    font-size: 37px;
    font-family: revert;
    margin-bottom: 71px;
    margin-top: 413px;
}
.minibox {
    width: 274px;
    height: 106px;
    background-color: #f8f9fa;
    position: absolute;
    top: 191px;
    left: 58px;
    color: black;
}
.style33 {
    padding-top: 144px;
    font-family: inherit;
    font-size: large;
}
.style44{
  color: grey;

}
.servicebox {
    width: 262px;
    height: 332px;

}

.style21 {
    padding-left: 10px;
    margin-top: 36px;
    height: 400px;
    background-color: #f9f9f9;
    text-align: initial;
    height: 478px;
    padding-top: 0px;
}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    margin-left: 310px;
    color: white;
}
  .navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 33rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    padding: 0px;
}
.navbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}
.slide1 {
    /* float: left; */
    position: relative;
    left: 0px;
}
.mainbox {
    background-color: none;
    margin-top: 0px;
    margin-bottom: 85px;
}
.bg-light {
    background-color: #2d2de0!important;
}
}
 @media  (max-width: 426px) {
    .boot{width:120px;}

    .style-top-box-images {
    position: relative;
    float: center;
    left: 89px;
    top: 40px;
    margin-bottom: 60px;
  }
  
  .next {
    width: 356px;
    position: absolute;
    height: 279px;
    background-color: transparent;
    color: black;
    top: -531px;
    left: 0px;
}
.ts {
    position: absolute;
    top: 14px;
    margin-left: 0px;
    color: white;
    font-size: 20px;
}
.style5 {
    position: relative;
    margin-top: 18px;
    font-size: 35px;
    font-family: inherit;
    padding: 20px;
}
.style6 {
    color: #262de5;
    font-size: 20px;
    margin-left: 29px;
}
.ysb{
    font-size: 27px;
    font-family: sans-serif;
    margin-left: 20px;
}
.padd {
    margin-top: 40px;
    width: 130%;
    height: 162px;
    background-color: #efeaea1a;
    margin-left: -149px;
}
.style12 {
    text-align: center;
    padding: 0px;
}
.style13 {
    font-size: 37px;
    font-family: revert;
    margin-bottom: 71px;
    margin-top: 413px;
}
.minibox {
    width: 274px;
    height: 106px;
    background-color: #f8f9fa;
    position: absolute;
    top: 191px;
    left: 58px;
    color: black;
}
.style33 {
    padding-top: 144px;
    font-family: inherit;
    font-size: large;
}
.style44{
  color: grey;

}
.servicebox {
    width: 262px;
    height: 332px;
    
}

.style21 {
    padding-left: 10px;
    margin-top: 36px;
    height: 400px;
    background-color: #f9f9f9;
    text-align: initial;
    height: 478px;
    padding-top: 0px;
}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    margin-left: 310px;
    color: white;
}
  .navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 33rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    padding: 0px;
}
.navbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}
.slide1 {
    position: relative;
    left: 0px;
}
.mainbox {
    background-color: none;
    margin-top: 0px;
    margin-bottom: 85px;
}
.bg-light {
    background-color: #2d2de0!important;
}
}
 @media  (max-width: 375px) {
    .boot{width:120px;}
    .style-top-box-images {
    position: relative;
    float: center;
    left: 89px;
    top: 40px;
    margin-bottom: 60px;
  }
  .navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    margin-left: 310px;
    color: white;
}
  .navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 33rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    padding: 0px;
}
  
  .next {
    width: 322px;
    position: absolute;
    height: 279px;
    background-color: transparent;
    color: black;
    top: -531px;
    left: 0px;
}
.ts {
    position: absolute;
    top: 7px;
    margin-left: 0px;
    color: white;
    font-size: 20px;
}
.style5 {
    position: relative;
    margin-top: 18px;
    font-size: 35px;
    font-family: inherit;
    padding: 20px;
}
.style6 {
    color: #262de5;
    font-size: 20px;
    margin-left: 29px;
}
.padd {
    margin-top: 40px;
    width: 130%;
    height: 162px;
    background-color: #efeaea1a;
    margin-left: -149px;
}
.style12 {
    text-align: center;
    padding: 0px;
}
.style13 {
    font-size: 37px;
    font-family: revert;
    margin-bottom: 71px;
    margin-top: 413px;
}
.minibox {
    width: 65%;
    height: 106px;
    background-color: #f8f9fa;
    position: absolute;
    top: 191px;
    left: 31px;
    color: black;
}
.style33 {
    padding-top: 144px;
    font-family: inherit;
    font-size: large;
}
.style44{
  color: grey;

}
.servicebox {
    width: 262px;
    height: 332px;
    
}

.style21 {
    padding-left: 10px;
    margin-top: 36px;
    height: 400px;
    background-color: #f9f9f9;
    text-align: initial;
    height: 478px;
    padding-top: 0px;
}
.navbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}
.slide1 {
    position: relative;
    left: 0px;
}
.mainbox {
    background-color: none;
    margin-top: 0px;
    margin-bottom: 85px;
}
.bg-light {
    background-color: #2d2de0!important;
}
}
@media  (max-width: 320px) {
    .boot{width:120px;}
    .style-top-box-images {
    position: relative;
    float: center;
    left: 89px;
    top: 40px;
    margin-bottom: 60px;
  }
  .bg-light {
    background-color: #2d2de0!important;
}
  .navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    margin-left: 261px;
    color: white;
}
  .navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 33rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    padding: 0px;
}
  
  .next {
    width: 322px;
    position: absolute;
    height: 279px;
    background-color: transparent;
    color: black;
    top: -531px;
    left: 0px;
}
.ts {
    position: absolute;
    top: 7px;
    margin-left: 0px;
    color: white;
    font-size: 20px;
}
.style5 {
    position: relative;
    margin-top: 18px;
    font-size: 35px;
    font-family: inherit;
    padding: 20px;
}
.style6 {
    color: #262de5;
    font-size: 20px;
    margin-left: 29px;
}
.padd {
    margin-top: 40px;
    width: 130%;
    height: 162px;
    background-color: #efeaea1a;
    margin-left: -149px;
}
.style12 {
    text-align: center;
    padding: 0px;
}
.style13 {
    font-size: 37px;
    font-family: revert;
    margin-bottom: 71px;
    margin-top: 413px;
}
.minibox {
    width: 65%;
    height: 106px;
    background-color: #f8f9fa;
    position: absolute;
    top: 191px;
    left: 31px;
    color: black;
}
.style33 {
    padding-top: 144px;
    font-family: inherit;
    font-size: large;
}
.style44{
  color: grey;

}
.servicebox {
    width: 262px;
    height: 332px;
    
}

.style21 {
    padding-left: 10px;
    margin-top: 36px;
    height: 400px;
    background-color: #f9f9f9;
    text-align: initial;
    padding-top: 0px;
}
.navbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}
.slide1 {
    position: relative;
    left: 0px;
}
.mainbox {
    background-color: none;
    margin-top: 0px;
    margin-bottom: 85px;
 }
}
